<div
  class="main-container"
  [ngClass]="getContainerClasses()"
  (click)="mobileMenuOpen && toggleMobileMenu()"
  (keydown.enter)="mobileMenuOpen && toggleMobileMenu()"
  (keydown.space)="mobileMenuOpen && toggleMobileMenu()"
  role="button"
  tabindex="0">
  <app-admin-sidebar #sidenav (compactModeChanged)="onSideNavCompactModeChanged($event)" (mobileMenuToggled)="onMobileMenuToggled($event)">
    @if (isMobile) {
      <button
        class="sidenav-handle"
        (click)="openSideNav()"
        (keydown.enter)="openSideNav()"
        (keydown.space)="openSideNav()"
        [attr.aria-label]="'Ouvrir le menu de navigation'">
      </button>
    }
  </app-admin-sidebar>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
